streamlit>=1.12.0
speechrecognition>=3.8.1
transformers>=4.32.0
langchain>=0.0.278
langchain-groq>=0.1.5
numpy>=1.21.0
requests>=2.31.0
moviepy
imageio>=2.9.0
streamlit-lottie>=0.0.5
streamlit-webrtc>=0.45.0
python-dotenv>=1.0.0
